<div class="dashboard-instructor-container">
  <div class="dashboard-instructor-welcome">Welcome</div>
  <%= link_to 'Roster', students_path, class: "dashboard-instructor-roster" %>
  <%= link_to 'Assigned Jobs', jobs_path, class: "dashboard-instructor-jobs" %>
  <%= link_to 'Periods Dashboard', periods_path, class: "dashboard-instructor-periods" %>
  <%= link_to 'Give Individual Bonus', students_give_bonus_path, class: "dashboard-instructor-bonus" %>
  <%= link_to 'Student Transactions', transactions_index_path, class: "dashboard-instructor-transactions" %>
  <%= link_to 'Awards', awards_path, class: "dashboard-instructor-awards" %>
</div>
