You have given <%= @bonuses %> individual bonuses and <%= @class_bonuses %> class bonuses today.

<div class="dashboard-header-container">
  <h3 class="dashboard-section-title">Welcome</h3>
  <div class="stats-totals-container">
    <span class="stats-totals">Total Wealth: $<%= @instructor.students.sum(:cash) %></span>
    <span class="stats-totals">Average Wealth: $<%= @instructor.students.sum(:cash) / @instructor.students.count %></span>
    <span class="stats-totals">Richest: <%= @instructor.wealthiest %></span>
  </div>
</div>
<div class="dashboard-info-container">
  <%= link_to rights_path, :action => 'go' do %>
    <span class="dashboard-info">
      <p class="dashboard-stat-heading">New Rights</p>
      <i class="fa-star fa-5x fa dashboard-icon"></i>
      <p class="dashboard-stat"> <%= @new_rights %> </p>
    </span>
  <% end %>
  <%= link_to transactions_path, :action => 'go' do %>
    <span class="dashboard-info">
      <p class="dashboard-stat-heading">Today's Transactions</p>
      <i class="fa-exchange fa-5x fa dashboard-icon"></i>
      <p class="dashboard-stat"> <%= @transactions %> </p>
    </span>
  <% end %>
  <%= link_to loans_path, :action => 'go' do %>
    <span class="dashboard-info">
      <p class="dashboard-stat-heading">Today's Loans</p>
      <i class="fa-money fa-5x fa dashboard-icon"></i>
      <p class="dashboard-stat"> <%= @loans %> </p>
    </span>
  <% end %>
  <h3 class="dashboard-section-title">Enter Today's Behavior</h3>
  <% if @unentered_periods.length == 0 %>
      Today's behavior entry is complete.
  <% else %>
    <% @unentered_periods.each do |up| %>
      <%= link_to "#{up.name}", enter_behavior_period_path(up), class: "period-title" %>
    <% end %>
  <% end %>
</div>
