
<div>Welcome, <%= @student.full_name %>


<div>
  You have $<%= @student.cash %>
</div>
<div>
  The class average is $<%= @period.class_average %>
</div>
<div>
  <% if @student.richest %>
    You are the richest!
  <% end %>
</div>

<h3>Your Rights</h3>
<% @student_rights.each do |student_right| %>
  <div><%= student_right.right.description %> for reaching $<%= student_right.cash_level %>.</div>
<% end %>

<h3>Your Bonuses</h3>
<% @extras.each do |extra| %>
  <div>You received $<%= extra.amount %> for <%= extra.reason %> on on <%= extra.created_at.strftime('%b %e, %Y') %>.</div>
<% end %>

<h3>Class Bonuses</h3>
<% @bonuses.each do |bonus| %>
  <div>Your class received $<%= bonus.amount %> for <%= bonus.reason %> on on <%= bonus.created_at.strftime('%b %e, %Y') %>.</div>
<% end %>

<h3>Transactions</h3>
<h4>You received</h4>
<% @received.each do |r| %>
  <div>$<%= r.amount %> from <%= r.student.full_name %> for <%= r.reason %> on on <%= r.created_at.strftime('%b %e, %Y') %>.</div>
<% end %>
<h4>You sent</h4>
<% @sent.each do |s| %>
  <div>$<%= s.amount %> to
    <% if Student.find_by_id(s.recipient_id) %>
      <%= Student.find(s.recipient_id).full_name %>
    <% else %>
        <%= "Not Available" %>
    <% end %>
     for <%= s.reason %> on on <%= s.created_at.strftime('%b %e, %Y') %>.</div>
<% end %>

<h3>Your Awards</h3>
<% @awards.each do |a| %>
  <div>
    You received the <%= a.award_type.name %> award for <%= a.reason %> and got a bonus of $<%= a.payment %>.
  </div>
<% end %>

<div class="cash-chart"></div>
<%= render 'students/daily_balance_chart' %>

<%= link_to 'Transfer Money', send_money_students_path, class: "dashboard-student-send-money-link" %>
<%= link_to 'Your Loans', all_loans_path, class: "dashboard-student-send-money-link" %>
