<div class="student-dashboard-container">
  <div class="student-info-container student-info-container-scroll">
    <div class="student-info-container-inner">
      <h2 class="student-dash-name">Welcome, <%= @student.full_name %></h2>
      <div class="student-info-list">
        You have <%= number_to_currency(@student.cash, precision: 0) %>
      </div>
      <div class="student-info-list">
        The class average is <%= number_to_currency(@period.class_average, precision: 0) %>
      </div>
      <div class="student-info-list">
        <% if @student.richest %>
          You are the richest!
        <% end %>
      </div>
      <div class="student-info-list">
        <% if @new_rights.count > 0 %>
          <% @new_rights.each do |new_right| %>
            <div>Good job, you earned a new right for reaching <%= number_to_currency(new_right.cash_level, precision: 0) %>! You will have this right unless you drop below <%= number_to_currency(new_right.cash_level, precision: 0) %>. See your instructor to claim it.</div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="list-awards-container">
      <% @awards.each do |award| %>
        <div class="list-awards"><i class="<%= award.award_type.picture %> fa-4x"></i></div>
      <% end %>
    </div>
  </div>

  <div class="student-transaction-info student-transaction-info-studentview">
    <div class="student-transaction-heading"><h3>Your Jobs</h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
    <div class="hide">
      <% if @jobs.count > 0 %>
        <% @jobs.each do |job| %>
          <div class="notifications-list"><%= job.description %>.</div>
        <% end %>
      <% else %>
        <div class="notifications-list">You have no jobs yet. Come up with something that your classroom needs and ask your teacher if that can be your job.</div>
      <% end %>
    </div>

    <div class="student-transaction-heading"><h3>Your Rights</h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
    <div class="hide">
      <% if @student_rights.count > 0 %>
        <% @student_rights.each do |student_right| %>
          <div class="notifications-list"><%= student_right.right.description %> for reaching <%= number_to_currency(student_right.cash_level, precision: 0) %>.</div>
        <% end %>
      <% else %>
        <div class="notifications-list">You have no rights yet. You can claim one when you reach $1000, $10,000 and $25,000.</div>
      <% end %>
    </div>

    <div class="student-transaction-heading"><h3>Your Bonuses</h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
    <div class="hide">
      <% if @extras.count > 0 %>
        <% @extras.each do |extra| %>
          <div class="notifications-list">You received <%= number_to_currency(extra.amount, precision: 0) %> on
             <%= extra.created_at.strftime('%b %e, %Y') %>
            <% if !extra.reason.empty? %>
               for <%= extra.reason %>.
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="notifications-list">You have not received any bonuses yet.</div>
      <% end %>
    </div>

    <div class="student-transaction-heading"><h3>Class Bonuses</h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
    <div class="hide">
      <% if @bonuses.count > 0 %>
        <% @bonuses.each do |bonus| %>
          <div class="notifications-list">Your class received <%= number_to_currency(bonus.amount, precision: 0) %> on
             <%= bonus.created_at.strftime('%b %e, %Y') %>
            <% if !bonus.reason.empty? %>
               for <%= bonus.reason %>.
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="notifications-list">Your class has not received any bonuses yet.</div>
      <% end %>
    </div>
    <div class="student-transaction-heading"><h3>Transactions</h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
    <div class="hide">
        <h4>You received</h4>
        <% if @received.count > 0 %>
          <% @received.each do |r| %>
            <div class="notifications-list"><%= number_to_currency(r.amount, precision: 0) %> from <%= r.student.full_name %> for <%= r.reason %> on on <%= r.created_at.strftime('%b %e, %Y') %>.</div>
          <% end %>
        <% else %>
          <div class="notifications-list">You have not received any money yet.</div>
        <% end %>
        <h4>You sent</h4>
        <% if @sent.count > 0 %>
          <% @sent.each do |s| %>
            <div class="notifications-list"><%= number_to_currency(s.amount, precision: 0) %> to
              <% student = Student.find_by_id(s.recipient_id) %>
              <% if student %>
                <%= student.full_name %>
              <% else %>
                  <%= "Not Available" %>
              <% end %>
               for <%= s.reason %> on on <%= s.created_at.strftime('%b %e, %Y') %>.</div>
          <% end %>
        <% else %>
          <div class="notifications-list">You have not sent any money yet.</div>
        <% end %>
    </div>

    <div class="student-transaction-heading"><h3>Your Awards</h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
    <div class="hide">
      <% if @awards.count > 0 %>
        <% @awards.each do |a| %>
          <div class="notifications-list">
            You received the <%= a.award_type.name %> award for <%= a.reason %> and got a bonus of <%= number_to_currency(a.payment, precision: 0) %>.
          </div>
        <% end %>
      <% else %>
        <div class="list-awards">You have not earned any awards yet. Do something awesome for your class!</div>
      <% end %>
    </div>
  </div>
</div>
<div class="cash-chart-container">
  <div class="cash-chart"><%= render 'students/daily_balance_chart' %></div>
</div>

<% if @purchase_information.count > 0 %>
  <%= render 'students/purchase_graph' %>
<% end %>
<div class="modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="send-money-form" class="modal-content"><%= render 'transactions/send_money' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
