<div class="login-container">
  <div class="login-title">Login</div>
  <%= form_tag do %>
      <%= label_tag :email,nil, class: 'login-input-label' do %>
        <span class="focus-out">Email</span>
        <%= text_field_tag :email, nil, class: 'login-input-box' %>
      <% end %>
      <%= label_tag :password, nil, class: 'login-input-label' do %>
        <span class="focus-out">Password</span>
        <%= password_field_tag :password, nil, class: 'login-input-box' %>
      <% end %>
    <%= submit_tag "Submit"%>
  <% end %>
</div>