<%= simple_form_for student, html: { class: "pure-form pure-form-stacked student-edit-form" } do |f| %>
  <%= f.error_notification %>


    <span class="edit-firstname edit-input"><%= f.input :first_name %></span>
    <span class="edit-lastname edit-input"><%= f.input :last_name %></span>
    <span class="edit-email edit-input"><%= f.input :email %></span>
    <span class="edit-cash edit-input"><%= f.input :cash %></span>
    <span class="edit-period edit-input"><%= f.association :period, collection: @periods, include_blank: true %></span>
    <%= f.hidden_field :password, value: "password" %>

    <%= f.submit "Submit", class: "pure-button pure-button-primary btn-cc" %>

<% end %>
