<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="students-new-container">
    <div class="field students-new-firstname">
      <div class="students-new-firstname-text">
        <%= f.label :first_name %>
      </div>
      <div class="students-new-firstname-input">
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="field students-new-lastname">
      <div class="students-new-lastname-text">
        <%= f.label :last_name %>
      </div>
      <div class="students-new-lastname-input">
        <%= f.text_field :last_name %>
      </div>
    </div>
    <div class="field students-new-email">
      <div class="students-new-email-text">
        <%= f.label :email %>
      </div>
      <div class="students-new-email-input">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="field students-new-cash">
      <div class="students-new-cash-text">
        <%= f.label :cash %>
      </div>
      <div class="students-new-cash-input">
        <%= f.number_field :cash %>
      </div>
    </div>
    <div class="field students-new-period">
      <div class="students-new-period-text">
        <%= f.label :period %>
      </div>
      <div class="students-new-period-input">
        <%= f.select :period_id, @periods.map{ |period| [period.name, period.id] }, include_blank: true %>
      </div>
    </div>
    <div class="field students-new-password">
      <div class="students-new-password-text">
        <%= f.label :password %>
      </div>
      <div class="students-new-password-input">
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
