<div class="heading-container student-edit-heading-container">
  <h1 class="roster-title">Roster</h1>
  <div class="buttons-container">
    <%= link_to 'Back', students_path, class: "pure-button" %>
    <%= link_to 'Show', @student, class: "pure-button" %>
    <%= link_to 'Assign Job', new_job_path(student_id: @student.id), class: "pure-button" %>
  </div>
</div>
<div class="student-edit-container">
<h1 class="student-edit-name"><%= @student.full_name %></h1>

<%= render 'form' %>
</div>
