<h1>Editing <%= @student.full_name %></h1>

<%= render 'form' %>

<%= link_to 'Show', @student, class: "pure-button" %>
<%= link_to 'Back', students_path, class: "pure-button" %>
<%= link_to 'Assign Job', new_job_path(student_id: @student.id), class: "pure-button" %>
<%= link_to 'Home', root_path, class: "pure-button" %>
