<h1>Editing Student</h1>

<%= render 'form' %>

<%= link_to 'Show', @student %>
<%= link_to 'Back', students_path %>
<%= link_to 'Assign Job', new_job_path(student_id: @student.id) %>
<%= link_to 'Home', root_path %>
