<div class="student-send-money-container">

  <div class="student-send-money-title">Give Bonus</div>
  <h3>A bonus can be a positive or negative amount.</h3>

  <%= simple_form_for @extra, url: students_gave_bonus_path do |f| %>

    <div class="field student-send-money-recipient">
      <div class="student-send-money-recipient-title"><%= f.label :student %></div>
      <div class="student-send-money-recipient-input">
        <%= f.grouped_collection_select :student_id, @periods, :students, :name, :id, :full_name %>
      </div>
    </div>
    <div class="field student-send-money-amount">
      <div class="student-send-money-amount-title"><%= f.label :amount %></div>
      <div class="student-send-money-amount-input"><%= f.number_field :amount %></div>
    </div>
    <div>
      <p>The student is receiving this for: </p>
      <div><%= f.text_field :reason %></div>
    </div>
    <div class="actions">
      <%= f.hidden_field :instructor_id, value: @instructor.id %>
    </div>
    <div class="actions">
      <%= f.button :submit, 'Award Bonus'%>
    </div>

  <% end %>
</div>
