<h3>Give Individual Bonus</h3>
<h3>A bonus can be a positive or negative amount.</h3>

<%= simple_form_for @extra, url: gave_bonus_students_path, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <%= f.error_notification %>


    <%= f.association :student do %>
      <%= f.grouped_collection_select :student_id, @periods, :students, :name, :id, :full_name %>
    <% end %>
    is receiving
    $<%= f.input :amount, label: false %>
    because
    <%= f.input :reason, label: false %>

    <%= f.hidden_field :instructor_id, value: @instructor.id %>

    <%= f.button :submit, "Give Bonus", class: "pure-button pure-button-primary" %>

<% end %>
