<div id="notice"><%= notice %></div>

<div class="links">
  <%= link_to 'Add New Student', new_student_path, class: "add-new-student" %>
  <%= link_to 'Home', root_path, class: "home" %>
</div>

<table class="student-list">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Cash</th>
      <th>Recent Behavior</th>
      <th>Richest</th>
      <th>Jobs</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="student-list-info">
        <td class="student-list-info-firstname"><%= student.first_name %></td>
        <td class="student-list-info-lastname"><%= student.last_name %></td>
        <td class="student-list-info-cash">$<%= student.cash %></td>
        <td class="student-list-info-behavior"><%= student.good_behavior_today(student.id) || student.good_behavior_yesterday(student.id) %></td>
        <td class="student-list-info-richest"><%= student.richest %></td>
        <td class="student-list-info-jobs"><% student.jobs(student.id).each do |job|%>
          <%= job.description %><br>
        <% end %></td>
        <td><%= link_to 'Details', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>