<div class="heading-container">
  <h1 class="roster-title">Roster</h1>
  <div class="buttons-container">
    <button class="pure-button display-bonus-modal btn-cc">Award Individual Bonus</button>
    <button class="pure-button display-class-bonus-modal btn-cc">Award Class Bonus</button>
    <%= link_to 'New Period', new_period_path, class: "pure-button btn-cc" %>
    <button class="modal-btn pure-button btn-cc">New Student</button>
  </div>
</div>

<% @periods.each do |per| %>
  <% per.find_richest %>
  <div class="period-title-container">
    <span class="period-info-heading">
      <span class="period-name"><%= per.name %></span>
      <span class="payscale period-info">Payscale: $<%= per.payscale %></span>
      <span class="students-number period-info">Total Students: <%= per.students.count %></span>
      <span class="class-average period-info">Class Average: $<%= per.class_average %></span>
      <span class="class-bonuses period-info">Class Bonus Total: $<%= per.bonuses.sum(:amount) %></span>
    </span>
    <div class="buttons-container">
      <span>
        <div class="pure-button">Options</div>
        <div class="periods-table-info-options-list">
          <%= link_to 'Edit', edit_period_path(per), class: "pure-button" %>
          <%= link_to 'Delete', per, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button" %>
          <%= link_to 'Enter Behavior Data', enter_behavior_period_path(per), class: "pure-button" %>
          <%= link_to 'Loaning Permission', permissions_loan_path(per), class: "pure-button" %>
        </div>
      </span>
      <span class="view-button-span"><i id="<%= per.id %>" class="fa-sort-down fa-2x fa view-button"></i></span>
    </div>
  </div>
  <div id="period-table-container<%= per.id %>" class="period-table-container"><%= render partial: 'periods/show', locals: { students: per.students, period: per } %></div>

<% end %>

<div class="main-modal-container ind-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-remove fa fa-2x modal-close"></i>
    </div>
    <div class="bonus-modal">
      <td class="test"> <%= render partial: 'give_bonus' %></td>
    </div>
  </div>
</div>

<div class="main-modal-container class-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-remove fa fa-2x modal-close"></i>
    </div>
    <div class="class-bonus-modal">
      <td class="test"> <%= render partial: 'periods/class_bonus' %></td>
    </div>
  </div>
</div>

<div class="main-modal-container modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="new-student-form" class="modal-content"><%= render partial: 'form', locals: { student: Student.new } %></div>
  </div>
</div>
