<div class="heading-container">
  <h1 class="roster-title">Roster</h1>
  <div class="buttons-container">
    <button class="pure-button display-bonus-modal btn-cc">Award Individual Bonus</button>
    <button class="pure-button display-class-bonus-modal btn-cc">Award Class Bonus</button>
    <%= link_to 'New Period', new_period_path, class: "pure-button btn-cc" %>
    <button class="modal-btn pure-button btn-cc new-student-modal-btn">New Student</button>
    <button class="pure-button btn-cc transaction-modal-btn">Transfer Money</button>
  </div>
</div>

<% @periods.order(:name).each do |per| %>
  <% per.find_richest %>
  <div class="period-title-container">
    <span class="period-info-heading" id="<%= per.id %>">
      <span class="period-name"><%= per.name %></span>
      <span class="payscale period-info">Payscale: <%= number_to_currency(per.payscale, precision: 0) %></span>
      <span class="students-number period-info">Total Students: <%= per.students.count %></span>
      <span id="avg<%= per.id %>" class="class-average period-info">Class Average: <%= number_to_currency(per.class_average, precision: 0) %></span>
      <span id="tot<%= per.id %>" class="class-bonuses period-info">Class Bonus Total: <%= number_to_currency(per.bonuses.sum(:amount), precision: 0) %></span>
    </span>
    <div class="buttons-container">
      <span>
        <div class="pure-button roster-options-btn">Options</div>
        <div class="periods-table-info-options-list">
          <%= link_to 'Edit', edit_period_path(per), class: "pure-button" %>
          <%= link_to 'Delete', per, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button" %>
          <%= link_to 'Enter Behavior Data', enter_behavior_period_path(per), class: "pure-button" %>
          <%= link_to 'Loaning Permissions', permissions_loan_path(per), class: "pure-button" %>
          <%= link_to 'Disable Accounts', disable_accounts_period_path(per), class: "pure-button" %>
        </div>
      </span>
    </div>
  </div>
  <div id="period-table-container-<%= per.id %>" class="period-table-container"><%= render partial: 'periods/show', locals: { students: per.students, period: per } %></div>

<% end %>

<div class="main-modal-container ind-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-remove fa fa-2x modal-close"></i>
    </div>
    <div class="bonus-modal">
      <td class="test"> <%= render partial: 'give_bonus' %></td>
    </div>
  </div>
  <div class="outer-modal-click"></div>
</div>

<div class="main-modal-container class-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-remove fa fa-2x modal-close"></i>
    </div>
    <div class="class-bonus-modal">
      <td class="test"> <%= render partial: 'periods/class_bonus' %></td>
    </div>
  </div>
  <div class="outer-modal-click"></div>
</div>

<div class="main-modal-container modal student-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="new-student-form" class="modal-content"><%= render partial: 'form', locals: { student: Student.new } %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>

<div class="main-modal-container modal student-edit-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="edit-student-form" class="modal-content"></div>
  </div>
  <div class="outer-modal-click"></div>
</div>

<div class="modal transaction-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div class="modal-content"><%= render 'transactions/transfer' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
