<div class="student-send-money-container">

  <div class="student-send-money-title">Send Cash</div>

  <%= form_for @transaction, url: sent_money_students_path do |f| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field student-send-money-recipient">
      <div class="student-send-money-recipient-title"><%= f.label :recipient %></div>
      <div class="student-send-money-recipient-input">
        <%= f.grouped_collection_select :recipient_id, @periods, :students, :name, :id, :full_name %>
      </div>
    </div>
    <div class="field student-send-money-amount">
      <div class="student-send-money-amount-title"><%= f.label :amount %></div>
      <div class="student-send-money-amount-input"><%= f.number_field :amount %></div>
    </div>
    <div>
      <div><%= f.label :i_am_sending_this_money_for %></div>
      <div><%= f.select :reason, [
          ['helping me out', 'helping me out'], ['doing a job', 'doing a job'],
          ['an auction purchase', 'an auction purchase'] ], include_blank: true %></div>
    </div>
    <div class="actions">
      <%= f.hidden_field :sender_id, value: @student.id %>
    </div>
    <div class="actions">
      <%= f.submit 'Send Money'%>
    </div>

  <% end %>

  <p>Your instructor will be sent a record of this transaction.</p>
</div>
