<div id="notice"><%= notice %></div>

<div class="student-show-container">
  <div class="student-show-firstname-container">
    <div class="student-show-firstname-title">First name:</div>
    <div class="student-show-firstname-text"><%= @student.first_name %></div>
  </div>

  <div class="student-show-lastname-container">
    <div class="student-show-lastname-title">Last name:</div>
    <div class="student-show-lastname-text"><%= @student.last_name %></div>
  </div>

  <div class="student-show-email-container">
    <div class="student-show-email-title">Email:</div>
    <div class="student-show-email-text"><%= @student.email %></div>
  </div>

  <div class="student-show-cash-container">
    <div class="student-show-cash-title">Cash:</div>
    <div class="student-show-cash-text">$<%= @student.cash %></div>
  </div>

  <div class="student-show-period-container">
    <div class="student-show-period-title">Period:</div>
    <div class="student-show-period-text"><%= @student.period.name %></div>
  </div>

  <div class="student-show-richest-container">
    <div class="student-show-richest-title">Richest:</div>
    <div class="student-show-richest-text"><%= @student.richest %></div>
  </div>

  <div class="student-show-received-container">
    <div class="student-show-received-title">Received Money: </div>
    <ol>
      <% @received.each do |r| %>
        <li><%= r.amount %> from <%= Student.find(r.sender_id).first_name %> <%= Student.find(r.sender_id).last_name %></li>
      <% end %>
    </ol>
  </div>

  <div class="student-show-sent-container">
    <div class="student-show-sent-title">Sent Money: </div>
    <ol>
      <% @sent.each do |s| %>
        <li><%= s.amount %> to <%= Student.find(s.recipient_id).first_name %> <%= Student.find(s.recipient_id).last_name %></li>
      <% end %>
    </ol>
  </div>
</div>
