<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @student.cash %>
</p>

<p>
  <strong>Period:</strong>
  <%= @student.period_id %>
</p>

<p>
  <strong>Richest:</strong>
  <%= @student.richest %>
</p>

<p>
  <strong>Received Money: </strong>
  <ol>
    <% @received.each do |r| %>
      <li><%= r.amount %> from <%= Student.find(r.sender_id).first_name %> <%= Student.find(r.sender_id).last_name %></li>
    <% end %>
  </ol>
</p>

<p>
  <strong>Sent Money: </strong>
  <ol>
    <% @sent.each do |s| %>
      <li><%= s.amount %> to <%= Student.find(s.recipient_id).first_name %> <%= Student.find(s.recipient_id).last_name %></li>
    <% end %>
  </ol>
</p>

<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Back', students_path %>
<%= link_to 'Home', root_path %>
