<div class="student-show-container">
  <div class="student-show-container-inner">
    <div class="student-info-container">
      <div class="student-info-container-inner">
        <h3 class="student-info-name"><%= @student.full_name %></h3>

        <div>
          <span><i class="fa-envelope fa student-info-icon"></i></span>
          <span><%= @student.email %></span>
        </div>

        <div>
          <span><i class="fa-money fa student-info-icon"></i></span>
          <span>$<%= @student.cash %></span>
        </div>

        <div class="student-period-content">
          <div>Period:</div>
          <div><%= @student.period.name %></div>
        </div>

        <div class="student-richest-content"><%= @student.richest ? "#{@student.first_name} is the richest in the class." : "#{@student.first_name} is not the richest in the class." %></div>

        <div id="password"><%= render partial: 'students/reset' %></div>
      </div>
    </div>

    <div class="student-transaction-info">
      <div>
        <div class="student-transaction-heading"><h3>Received Money </h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
        <div class="hide">
          <% if @received.count > 0 %>
            <% @received.each do |r| %>
              <div class="notifications-list">$<%= r.amount %> from <%= r.student.full_name %> for
                <%= r.reason %> on <%= r.created_at.strftime('%b %e, %Y') %>.</div>
            <% end %>
          <% else %>
            <div class="notifications-list"><%= @student.first_name %> has not received any money.</div>
          <% end %>
        </div>
      </div>

      <div>
        <div class="student-transaction-heading"><h3>Sent Money </h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
        <div class="hide">
          <% if @sent.count > 0 %>
            <% @sent.each do |s| %>
              <div class="notifications-list">$<%= s.amount %> to
                <% if Student.find_by_id(s.recipient_id) %>
                  <%= Student.find(s.recipient_id).full_name %>
                <% else %>
                    <%= "Not Available" %>
                <% end %>
                 for
                <%= s.reason %> on <%= s.created_at.strftime('%b %e, %Y') %>.</div>
            <% end %>
          <% else %>
            <div class="notifications-list"><%= @student.first_name %> has not transferred any money.</div>
          <% end %>
        </div>
      </div>

      <div>
        <div class="student-transaction-heading"><h3>Awards </h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
        <div class="hide">
          <% if @awards.count > 0 %>
            <% @awards.each do |a| %>
              <div class="notifications-list"><%= a.award_type.name %> for <%= a.reason %> on
                <%= a.created_at.strftime('%b %e, %Y') %>. Bonus of $<%= a.payment %></div>
            <% end %>
          <% else %>
            <div class="notifications-list"><%= @student.first_name %> has not received any awards yet.</div>
          <% end %>
        </div>
      </div>

      <div>
        <div class="student-transaction-heading"><h3>Bonuses </h3><i class="fa-sort-down fa student-transaction-dropdown"></i></div>
        <div class="hide">
          <% if @bonuses.count > 0 %>
            <% @bonuses.each do |b| %>
              <div class="notifications-list">$<%= b.amount %> on
                <%= b.created_at.strftime('%b %e, %Y') %> for <%= b.reason %></div>
            <% end %>
          <% else %>
            <div class="notifications-list"><%= @student.first_name %> has not received any bonuses yet.</div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cash-chart-container">
  <div class="cash-chart"></div>
</div>

<%= render 'students/daily_balance_chart' %>
