<%= simple_form_for @bonus, url: class_bonus_periods_path, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <%= f.error_notification %>

  <h3>Award Class Bonus</h3>
  <h4>This may be a positive or negative amount.</h4>

    <div>
    Distribute $<%= f.input :amount, label: false %>
    </div>

    <div>
    to <%= f.association :period, label_method: :name, label: false%>
    </div>

    <div>
    for <%= f.input :reason, label: false %>
    </div>

    <%= f.button :submit, "Give Bonus", class: "pure-button pure-button-primary" %>
<% end %>
