<%= simple_form_for @bonus, url: class_bonus_periods_path, html: { class: "pure-form pure-form-stacked" } do |f| %>
  <%= f.error_notification %>

  <h3>Award Class Bonus</h3>
  <h4>This may be a positive or negative amount.</h4>

  Distribute $<%= f.input :amount, label: false, placeholder: "Total award amount", input_html: { class: "input-total" } %>

  to <%= f.association :period, label_method: :name, label: false, input_html: { class: "input-total" } %>

  for <%= f.input :reason, label: false, placeholder: "Enter reason here", input_html: { class: "input-total" } %>

  <%= f.button :submit, "Give Bonus", class: "pure-button btn-cc" %>
<% end %>
