<%= simple_form_for @period, remote: !@period.new_record?, html: { class: "pure-form pure-form-stacked periods-edit" } do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :instructor_id, value: @instructor.id %>
  <%= f.input :name, label: false, placeholder: "Period Name", wrapper_html: { class: "periods-edit-input-wrapper" } %>
  <%= f.input :payscale, label: "Daily Salary", wrapper_html: { class: "periods-edit-input-wrapper" } %>

  <h3>Students</h3>
  <table class="pure-table pure-table-bordered centered">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail Address</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :students do |ff| %>
        <tr>
          <td><%= ff.input :first_name, label: false %></td>
          <td><%= ff.input :last_name, label: false %></td>
          <td><%= ff.input :email, label: false %>
            <% if ff.object.new_record? %>
              <td><%= ff.input :password, label: false, placeholder: "Password" %></td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
  <%= f.button :submit, class: "pure-button pure-button-primary" %>
  </div>

<% end %>
