<%= simple_form_for @period, html: { class: "pure-form pure-form-stacked periods-edit" } do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :instructor_id, value: @instructor.id %>
  <%= f.input :payscale, label: "Daily Salary", wrapper_html: { class: "periods-edit-input-wrapper" } %>
  <%= f.input :name, wrapper_html: { class: "periods-edit-input-wrapper" } %>

  <h3>Add Students</h3>
  <table class="pure-table pure-table-bordered centered">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>E-mail Address</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :students do |ff| %>
        <tr>
          <td><%= ff.input :first_name, label: false %></td>
          <td><%= ff.input :last_name, label: false %></td>
          <td><%= ff.input :email, label: false %></td>
          <td><%= ff.input :password, label: false %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div>
  <%= f.button :submit, class: "pure-button pure-button-primary" %>
  </div>
  
<% end %>
