<h1><%= @period.name %></h1>

<div id="period-edit-form"><%= render 'form' %></div>

<%= link_to 'Show', @period, class: "pure-button" %>
<%= link_to 'Periods', periods_path, class: "pure-button" %>
<%= link_to 'Home', root_path, class: "pure-button" %>
