<h1>Editing <%= @period.name %></h1>

<%= render 'form' %>

<%= link_to 'Show', @period, class: "pure-button" %>
<%= link_to 'Periods', periods_path, class: "pure-button" %>
<%= link_to 'Home', root_path, class: "pure-button" %>
