<div class="enter-behavior-container">

  <div class="enter-behavior-title">Behavior Entry for <%= Date.today %></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Well Behaved</th>
      <th>Completed Job</th>
    </tr>
  </thead>

  <tbody>
    <%= form_for(@period) do |f| %>
    <% @students.each do |student| %>
      <%= f.fields_for(:behaviors) do |ff| %>
        <tr>
          <%= ff.hidden_field :date, value: Date.today %>
          <%= ff.hidden_field :student_id, value: student.id %>
          <td><%= student.first_name %> <%= student.last_name %></td>
          <td><%= ff.check_box :well_behaved %></td>
          <td><%= student.jobs(student.id).length %></td>
          <td><%= ff.check_box :did_job %></td>
        <% end %></tr>
      <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </tbody>
</table>



<div class="links">
  <%= link_to 'Home', root_path, class: "home" %>
</div>
