<div class="enter-behavior-container">

  <div class="enter-behavior-title">Behavior Entry for <%= Date.today %></div>


<%= form_tag(update_behavior_periods_path(@period.id)) do %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Well Behaved</th>
        <th>Completed Job</th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <%= hidden_field_tag :date, value: Date.today %>
          <%= ff.hidden_field :student_id, value: student.id %>
          <td><%= student.first_name %> <%= student.last_name %></td>
          <td><%= ff.check_box :well_behaved, {checked: true} %></td>
          <td>
            <% student.jobs.each do |job| %>
              <%= job.description %>
              <%= ff.check_box :did_job, {checked: true} %><br>
            <% end %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


<div class="links">
  <%= link_to 'Home', root_path, class: "home" %>
</div>
