<div class="enter-behavior-container">

  <div class="enter-behavior-title">Behavior Entry for <%= Date.today %></div>

      <ul>
      <% @period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @students.order(:last_name).each do |s| %>
    <div><%= s.first_name %> <%= s.last_name %></div>
      <%= f.fields_for(@behavior) do |ff| %>
        <div>
          <%= ff.label :well_behaved %><br>
          <%= ff.check_box :well_behaved %>
        </div>
        <div class="field">
          <%= ff.hidden_field :date, value: Date.today %>
        </div>
      <% end %>
  <% end %>
</div>

<div class="links">
  <%= link_to 'Home', root_path, class: "home" %>
</div>
