<div class="enter-behavior-container">

  <div class="heading-container"><h1>Behavior Entry for <%= Date.today.strftime('%b %e, %Y') %></h1></div>
<%= form_for @period, url: update_behavior_period_path(@period) do |f| %>
  <table class = "pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Well Behaved</th>
        <th>Completed Job</th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <%= f.fields_for :students, student do |ff| %>
          <%= ff.fields_for :behaviors, student.behaviors.build do |ffb| %>
            <tr>
              <%= ffb.hidden_field :date, value: Date.today %>
              <td><%= student.full_name %></td>
              <td><%= ffb.check_box :well_behaved, { checked: true } %></td>
              <td><% student.jobs.each do |job| %>
                <%= ff.fields_for :jobs, student.jobs.find_by_id(job.id) do |ffj|%>
                  <div><%= ffj.check_box :last_date_done, { checked: true }, Date.today, nil %> <%= job.description %></div>
                <% end %>
              <%end %></td>
          <% end %></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
