<%= form_for(@period) do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for(:students) do |ff| %>
    <div class="field">
      <%= ff.object.first_name %>
      <%= ff.object.last_name %>
      <%= ff.label :good_behavior %>
      <%= ff.check_box :good_behavior %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit Behavior"%>
  </div>
<% end %>
