<h1 class="periods-table-title">Your Classes</h1>

<table class="periods-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Students</th>
      <th>Payscale</th>
      <th>Class Average</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr class="periods-table-info">
        <td class="periods-table-info-name"><%= period.name %></td>
        <td class="periods-table-info-count"><%= period.students.count %></td>
        <td class="periods-table-info-payscale"><%= period.payscale %></td>
        <td class="periods-table-info-average"><%= period.class_average %></td>
        <td class="periods-table-info-options">
          <span>Options</span>
          <ul class="periods-table-info-options-list">
            <li><%= link_to 'Show', period %></li>
            <li><%= link_to 'Edit', edit_period_path(period) %></li>
            <li><%= link_to 'Delete', period, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <li><%= link_to 'Enter Behavior Data', enter_behavior_period_path(period) %></li>
            <li><%= link_to 'Loaning Permission', permissions_loan_path(period) %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<td> <%= render partial: 'class_bonus' %></td>

<%= link_to 'New Period', new_period_path %>
<%= link_to 'Home', root_path %>
