<div class="heading-container">
  <h1>Your Classes</h1>
  <div class="buttons-container">
    <%= link_to 'New Period', new_period_path, class: "pure-button btn-cc" %>
    <button class="pure-button display-class-bonus-modal btn-cc">Award Class Bonus</button>
  </div>
</div>

<table class="pure-table pure-table-bordered centered periods-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Students</th>
      <th>Payscale</th>
      <th>Class Average</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr class="periods-table-info">
        <td><%= period.name %></td>
        <td class="numeric"><%= period.students.count %></td>
        <td class="numeric">$<%= period.payscale %></td>
        <td class="numeric">$<%= period.class_average %></td>
        <td class="periods-table-info-options">
          <div class="pure-button">Options</div>
          <div class="periods-table-info-options-list">
            <%= link_to 'Show', period, class: "pure-button" %>
            <%= link_to 'Edit', edit_period_path(period), class: "pure-button" %>
            <%= link_to 'Delete', period, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button" %>
            <%= link_to 'Enter Behavior Data', enter_behavior_period_path(period), class: "pure-button" %>
            <%= link_to 'Loaning Permission', permissions_loan_path(period), class: "pure-button" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="class-bonus-modal-container">
  <div class="class-bonus-modal-header">
    <i class="fa-remove fa fa-2x close-btn"></i>
  </div>
  <div class="class-bonus-modal">
    <td class="test"> <%= render partial: 'class_bonus' %></td>
  </div>
</div>
