<h1>Your Classes</h1>

<table class="pure-table pure-table-bordered centered periods-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Students</th>
      <th>Payscale</th>
      <th>Class Average</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr class="periods-table-info">
        <td><%= period.name %></td>
        <td class="numeric"><%= period.students.count %></td>
        <td class="numeric"><%= period.payscale %></td>
        <td class="numeric"><%= period.class_average %></td>
        <td class="periods-table-info-options">
          <div class="pure-button">Options</div>
          <div class="periods-table-info-options-list">
            <%= link_to 'Show', period, class: "pure-button" %>
            <%= link_to 'Edit', edit_period_path(period), class: "pure-button" %>
            <%= link_to 'Delete', period, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button" %>
            <%= link_to 'Enter Behavior Data', enter_behavior_period_path(period), class: "pure-button" %>
            <%= link_to 'Loaning Permission', permissions_loan_path(period), class: "pure-button" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<td> <%= render partial: 'class_bonus' %></td>

<%= link_to 'New Period', new_period_path, class: "pure-button" %>
<%= link_to 'Home', root_path, class: "pure-button" %>
