<% @period.find_richest %>

<div class="period-title-container">
  <div>
    Class: <%= @period.name %>
  </div>
  <div>
    Payscale: <%= @period.payscale %>
  </div>
</div>

<table class="period-table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Cash</th>
      <th>Recent Behavior</th>
      <th>Richest</th>
      <th>Jobs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr class="period-table-info">
        <td class="period-table-info-firstname"><%= student.first_name %></td>
        <td class="period-table-info-lastname"><%= student.last_name %></td>
        <td class="period-table-info-cash">$<%= student.cash %></td>
        <td class="period-table-info-behavior"><%= student.behaved?.html_safe %></td>
        <td class="period-table-info-richest"><%= student.richest?.html_safe %></td>
        <td class="period-table-info-jobs"><% student.jobs.each do |job|%>
          <%= job.description %><br>
        <% end %></td>
        <td class="period-table-info-options">
          <span>Options</span>
          <ul class="period-table-info-options-list">
            <li><%= link_to 'Details', student %></li>
            <li><%= link_to 'Edit', edit_student_path(student) %></li>
            <li><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="period-class-bonuses">
  <h3>Class Bonuses</h3>
  <% @bonuses.each do |bonus| %>
    <div><%= bonus.amount %> for <%= bonus.reason %> on <%= bonus.created_at.strftime('%b %e, %Y') %>.</div>
  <% end %>

  <%= link_to 'Edit', edit_period_path(@period) %>
  <%= link_to 'Periods', periods_path %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Enter Behavior Data', enter_behavior_period_path(@period) %>
</div>
