<% @period.find_richest %>

<div class="period-title-container">
  <div class="period-title-main-heading">
    <%= @period.name %> - Payscale: $<%= @period.payscale %>
  </div>
  <div class="buttons-container">
    <%= link_to 'Edit', edit_period_path(@period), class: "pure-button btn-cc" %>
    <%= link_to 'Enter Behavior Data', enter_behavior_period_path(@period), class: "pure-button btn-cc" %>
  </div>
</div>

<div id="period-table<%= @period.id %>"><%= render partial: 'table', locals: { students: @students } %></div>

<div class="period-bonuses centered">
  <h3>Class Bonuses</h3>
  <% @bonuses.each do |bonus| %>
    <div>$<%= bonus.amount %> for <%= bonus.reason %> on <%= bonus.created_at.strftime('%b %e, %Y') %>.</div>
  <% end %>
</div>
