<div id="notice"><%= notice %></div>

<p>
  <strong>Instructor:</strong>
  <%= @period.instructor_id %>
</p>

<p>
  <strong>Payscale:</strong>
  <%= @period.payscale %>
</p>

<p>
  <strong>Name:</strong>
  <%= @period.name %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
<%= link_to 'Home', root_path %>
