<% @period.find_richest %>

<div class="period-title-container">
  <div class="period-title-main-heading">
    Class: <%= @period.name %> - Payscale: <%= @period.payscale %>
  </div>
  <div class="buttons-container">
    <%= link_to 'Edit', edit_period_path(@period), class: "pure-button" %>
    <%= link_to 'Enter Behavior Data', enter_behavior_period_path(@period), class: "pure-button" %>
  </div>
</div>

<table class="pure-table pure-table-bordered centered period-table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Cash</th>
      <th>Recent Behavior</th>
      <th>Jobs</th>
      <th>Rights</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <div id="period-table"><%= render partial: 'table', locals: { students: @students } %></div>
  </tbody>
</table>

<div class="period-bonuses centered">
  <h3>Class Bonuses</h3>
  <% @bonuses.each do |bonus| %>
    <div><%= bonus.amount %> for <%= bonus.reason %> on <%= bonus.created_at.strftime('%b %e, %Y') %>.</div>
  <% end %>
</div>
