<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student %><br>
    <%= f.select :student_id, @students.map{ |a| [[a.first_name, a.last_name].join(" "), a.id] }, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :payscale %><br>
    <%= f.number_field :payscale %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
