<h1 class="jobs-title">Assigned Jobs</h1>

  <%= link_to 'New Job', new_job_path, class: "pure-button" %>
  <%= link_to 'Home', root_path, class: "pure-button" %>

<% @periods.each do |per| %>
  <table class="pure-table pure-table-bordered centered jobs-table">
    <thead>
      <tr>
        <th colspan="5"><%= per.name %></th>
      </tr>
    </thead>

    <tbody>
      <% per.students.each do |s| %>
        <% unless s.jobs.empty? %>
          <tr>
            <td class="jobs-table-student-name"><%= s.full_name %></td>
            <td class="jobs-table-job">
              <% s.jobs.each do |job| %>
                <div>
                  <%= job.description %>: $<%= job.payscale %>
                  <%= link_to 'Edit', edit_job_path(job) %>
                  <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
