<div class="heading-container">
  <h1 class="jobs-title">Assigned Jobs</h1>
  <div class="buttons-container">
    <button class="pure-button btn-cc modal-btn hire-modal-btn">Hire A Student</button>
  </div>
</div>
<% @periods.order(:name).each do |per| %>
  <table class="pure-table pure-table-bordered centered jobs-table">
    <thead>
      <tr>
        <th colspan="2"><%= per.name %></th>
      </tr>
    </thead>

    <tbody>
      <% per.students.each do |s| %>
        <% unless s.jobs.empty? %>
          <tr>
            <td class="jobs-table-student-name"><%= s.full_name %></td>
            <td class="jobs-table-job">
              <% s.jobs.each do |job| %>
                <div class="jobs-table-job-info">
                  <div id="job<%= job.id %>">
                    <%= job.description %>: <%= number_to_currency(job.payscale, precision: 0) %>
                  </div>
                  <div id="links<%= job.id %>" class="job-links">
                    <%= link_to '', edit_job_path(job), remote: true, class: "fa-edit fa jobs-icon" %>
                    <%= link_to '', job, method: :delete, remote: true, class: "fa-close fa jobs-icon", data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="main-modal-container modal hire-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="new-job-form" class="modal-content"><%= render partial: 'new' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
