<div class="heading-container">
  <h1 class="jobs-title">Assigned Jobs</h1>
  <div class="buttons-container">
    <%= link_to 'New Job', new_job_path, class: "pure-button" %>
  </div>
</div>
<% @periods.each do |per| %>
  <table class="pure-table pure-table-bordered centered jobs-table">
    <thead>
      <tr>
        <th colspan="2"><%= per.name %></th>
      </tr>
    </thead>

    <tbody>
      <% per.students.each do |s| %>
        <% unless s.jobs.empty? %>
          <tr>
            <td class="jobs-table-student-name"><%= s.full_name %></td>
            <td class="jobs-table-job">
              <% s.jobs.each do |job| %>
                <div id="job<%= job.id %>">
                  <%= job.description %>: $<%= job.payscale %>
                </div>
                <div id="links<%= job.id %>">
                  <%= link_to 'Edit', edit_job_path(job), remote: true %>
                  <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
