<div id="notice"><%= notice %></div>
<%= link_to 'New Job', new_job_path %>
<%= link_to 'Home', root_path %>

<h1 class="jobs-title">Listing Jobs</h1>

<% @periods.each do |per| %>
  <table class="jobs-table">
    <thead>
      <tr>
        <th colspan="5"><%= per.name %></th>
      </tr>``
    </thead>

    <tbody>
      <% per.students.order(:last_name).each do |s| %>
        <% unless s.jobs.empty? %>
          <tr>
            <td><%= s.first_name %> <%= s.last_name %></td>
            <td><% s.jobs.each do |job| %>
              <div>
                <%= job.description %>
                <%= job.payscale %>
                <%= link_to 'Edit', edit_job_path(job) %>
                <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div><br>
            <% end %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
