<div class="jobs-show centered">
  <div>
    Student: <%= @job.student.full_name %>
  </div>

  <div>
    Description: <%= @job.description %>
  </div>

  <div>
    Payscale: <%= @job.payscale %>
  </div>
</div>

<%= link_to 'Edit', edit_job_path(@job), class: "pure-button" %>
<%= link_to 'Back', jobs_path, class: "pure-button" %>
<%= link_to 'Home', root_path, class: "pure-button" %>
