<% @store_items.each do |si| %>

  <div id="<%= si.id %>">
    <%= si.name %>
    $<%= si.price %>
    <span id="stock<%= si.id %>"><%= si.stock || "Unlimited" %></span> in stock.
    <% if si.stock == nil || si.stock > 0 %>
      <span id="link<%= si.id %>"><%= link_to "Buy", bought_store_item_path(si), remote: true %></span>
    <% end %>
  </div>

<% end %>
