<div class="heading-container">
  <h1>Items Available to Students For Sale</h1>
  <div class="buttons-container">
    <button class="pure-button btn-cc modal-btn item-modal-btn">New Item</button>
    <button class="pure-button btn-cc modal-btn instant-purchase-modal-btn">Instant Purchase</button>
  </div>
</div>



<table class="pure-table pure-table-bordered centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_items.each do |store_item| %>
      <tr>
        <td><%= store_item.name %></td>
        <td><%= number_to_currency(store_item.price, precision: 0) %></td>
        <td><%= store_item.stock || "Unlimited" %></td>
        <td><%= link_to 'Edit', edit_store_item_path(store_item) %></td>
        <td><%= link_to 'Remove', store_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="teacher-purchased-items-container">
  <h2>Purchased Items</h2>
  <p>These items have been bought by students but not yet used. When a student is ready to use the item, click 'Claim' and it will disappear from the list</p>
  <div class="pure-g">
    <% @purchases.each do |purchase| %>
      <span class="pure-u-1-3 store-item purchased-item" id="<%= purchase.id %>">
        <%= link_to "Claim", claim_store_item_path(purchase.id), remote: true %>
        <%= purchase.student.full_name %> purchased <%= purchase.store_item.name %>
      </span>
    <% end %>
  </div>
</div>


<div class="main-modal-container modal item-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="new-item-form" class="modal-content"><%= render partial: 'form' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>

<div class="main-modal-container modal instant-purchase-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="instant-purchase-form" class="modal-content"><%= render 'instant_purchase' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
