<p id="notice"><%= notice %></p>

<h1>Available Awards</h1>

<table class="student-table">

  <tbody>
    <% @awards.each do |award| %>
      <% @students = Award.where(award_type_id: award.id).map(&:student) %>
      <tr>
        <td><%= award.name %></td>
        <td><%= award.picture %></td>
        <td>Recipients: <ol class="recipients">
          <% @students.map do |s| %>
            <li><%= s.full_name %></li>
          <% end %>
        </ol></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Give Award', new_award_path %>
