<p id="notice"><%= notice %></p>

<h1>Available Awards</h1>

<%= link_to 'Give Award', new_award_path, class: "pure-button" %>
<%= link_to 'Home', root_path, class: "pure-button" %>

<table class="pure-table pure-table-horizontal centered">

  <tbody>
    <% @award_types.each do |award_type| %>
      <% students = @instructor.find_students_with_award(award_type.id) %>
      <tr>
        <td><%= award_type.name %></td>
        <td><i class="<%= award_type.picture %> fa-4x"></i></td>
        <td>Recipients:
          <ol class="recipients">
            <% students.each do |s| %>
              <li><%= s.full_name %></li>
            <% end %>
          </ol>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
