
<li>
  <h3><%= right.description %>
  <% if right.instructor %>
    <%= link_to 'x', right, method: :delete, data: { confirm: 'Are you sure?'}, class: "new-right-delete" %>
  <% end %></h3>

  <ul id="right-list<%= right.id %>" class="right-list">
    <% right.students.each do |s| %>
      <li class="rights-sub-list-item">
        <%= link_to(fire_path(right, s), remote: true, class: "rights-delete") do %>
          <i class="fa fa-times"></i>
        <% end %>
        <%= s.full_name %>
      </li>
    <% end %>
  </ul>
</li>
