
<div id="therightid-<%= right.id %>">
  <h3><%= right.description %>
  <% if right.instructor %>
    <%= link_to "<i class='fa fa-times'></i>".html_safe, right, method: :delete, data: { confirm: 'Are you sure?'}, class: "new-right-delete" %>
  <% end %></h3>

  <div id="right-list<%= right.id %>" class="right-list">
    <% right.available_students(current_user.id).each do |s| %>
      <div class="new-right-list-container">
        <%= s.full_name %>
        <%= link_to(fire_path(right, s), remote: true, class: "rights-delete") do %>
          <i class="fa fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
