<table class="pure-table pure-table-bordered centered">
  <thead>
    <tr>
      <th>Right</th>
      <th>Students</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @rights.each do |right| %>
      <tr>
        <td><%= right.description %></td>
        <td>
          <% right.students.each do |s| %>
            <%= s.full_name %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', right %></td>
        <td><%= link_to 'Remove', right, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4>Students who have earned a right:</h4>
<ul>
  <% @new_rights.each do |n| %>
    <div>
      <%= n.student.full_name %>
      <%= render partial: 'rights/new_right', locals: { student: n.student } %>
    </div>
  <% end %>
</ul>

<%= link_to 'New Right', new_right_path %>
