<span class="modal-list">
  <strong>Lender:</strong>
  <%= loan.student.full_name %>
</span>

<span class="modal-list">
  <strong>Borrower:</strong>
  <%= Student.find_by_id(loan.recipient_id).full_name %>
</span>

<span class="modal-list">
  <strong>Amount:</strong>
  <%= number_to_currency(loan.amount.round, precision: 0) %>
</span>

<span class="modal-list">
  <strong>Weekly Interest:</strong>
  <%= loan.interest %>%
</span>

<span class="modal-list">
  <strong>Total Repayment:</strong>
  <%= number_to_currency(loan.final_total.round, precision: 0) %>
</span>

<span class="modal-list">
  <strong>Automatic Weekly Payment:</strong>
  <%= number_to_currency(loan.calculate_payment, precision: 0) %>
</span>

<span class="modal-list">
  <strong>End date:</strong>
  <%= loan.end_date ? loan.end_date.strftime('%b %e, %Y') : "Pending" %>
</span>

<span class="modal-list">
  <strong>Balance Left:</strong>
  <%= loan.balance ? "#{number_to_currency(loan.balance.round, precision: 0)}" : "Pending" %>
</span>
