<h2>Given Loans<h2>
  <% @loans_given.each do |loan| %>
    <div><%= link_to "#{loan.amount} due on #{loan.end_date.strftime("%b %e, %Y")}", loan %></div>
  <% end %>

<h2>Accepted Loans</h2>
  <% @loans_received.where(accepted: true).each do |loan| %>
    <div>
      <%= link_to "#{loan.amount} due on #{loan.end_date.strftime("%b %e, %Y")}", loan %>
      <%= link_to "Make Payment", pay_loan_path(loan) %>
    </div>
  <% end %>

<h2>Loans Needing Your Confirmation<h2>
  <% @loans_received.where(accepted: nil).each do |loan| %>
    <%= link_to "View Terms from #{loan.student.full_name}", confirmation_loan_path(loan) %>
  <% end %>

<%= link_to 'Home', root_path %>

<% if @student.can_loan%>
  <%= link_to 'Offer Loan', new_loan_path %>
<% end %>
