<div class="heading-container">
  <h1>Your Loans</h1>
  <div class="buttons-container">
    <% if @student.can_loan%>
      <button class= "pure-button btn-cc new-loan-btn">Offer Loan</button>
    <% end %>
  </div>
</div>
<div class="main-modal-container new-loan-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="new-loan-form"><%= render 'new' %></div>
  </div>
</div>
<div class="student-loan-container">
  <% if @student.can_loan%>
    <h2>Given Loans</h2>
      <!-- <ul> -->
        <% @loans_given.each do |loan| %>
          <div class="student-loan-list">
            <% if loan.accepted == false %>
              <%= "#{Student.find_by_id(loan.recipient_id).full_name} has rejected your loan." %>
            <% elsif loan.accepted == nil %>
              <%= "The loan offer to #{Student.find_by_id(loan.recipient_id).full_name} is pending." %>
            <% else %>
              <%= "$#{loan.amount.round} due on #{loan.end_date.strftime('%b %e, %Y')}" %>
            <% end %>
            <button class="pure-button view-modal-btn">View</button>
            <div class="main-modal-container">
              <div class="main-modal">
                <div class="main-modal-header">
                  <i class="fa-close fa fa-2x modal-close"></i>
                </div>
                  <%= render partial: 'show', locals: { loan: loan } %>
              </div>
            </div>
          </div>

        <% end %>
      <!-- </ul> -->
  <% end %>

  <h2>Accepted Loans</h2>
    <!-- <ul> -->
      <% @loans_received.where(accepted: true).each do |loan| %>
        <div class="student-loan-list">
          <%= "$#{loan.balance.round} due on #{loan.end_date.strftime('%b %e, %Y')}" %>
          <button class="pure-button view-modal-btn">View</button>          

          <div class="main-modal-container">
            <div class="main-modal">
              <div class="main-modal-header">
                <i class="fa-close fa fa-2x modal-close"></i>
              </div>
              <%= render partial: 'show', locals: { loan: loan } %>
              <%= link_to "Make Payment", pay_loan_path(loan), class: "pure-button" %>
            </div>
          </div>
        </div>
      <% end %>
    <!-- </ul> -->

  <h2>Loans Needing Your Confirmation</h2>
    <!-- <ul> -->
      <% @loans_received.where(accepted: nil).each do |loan| %>
        <div class="student-loan-list">
          <button class="pure-button view-modal-btn"><%= "View Terms from #{loan.student.full_name}" %></button>
          <div class="main-modal-container">
            <div class="main-modal">
              <div class="main-modal-header">
                <i class="fa-close fa fa-2x modal-close"></i>
              </div>
              <%= render partial: 'confirmation', locals: { loan: loan } %>
            </div>
          </div>
        </div>
      <% end %>
    <!-- </ul> -->
</div>
