<div class="heading-container">
  <h1>Your Loans</h1>
  <div class="buttons-container">
    <% if @student.can_loan%>
      <button class= "pure-button btn-cc new-loan-btn">Offer Loan</button>
    <% end %>
  </div>
</div>
<div class="main-modal-container new-loan-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="new-loan-form" class="modal-content"><%= render 'new' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
<div class="student-loan-container">
  <% if @student.can_loan%>
    <h2>Given Loans</h2>
      <!-- <ul> -->
        <% @loans_given.each do |loan| %>
          <div class="student-loan-list" id="loan<%= loan.id %>">
            <% if loan.accepted == false %>
              <% recipient = Student.find_by_id(loan.recipient_id) ? Student.find_by_id(loan.recipient_id).full_name : "Not Available" %>
              <span class="vertical-center"><%= "#{recipient} has rejected your loan." %></span>
            <% elsif loan.accepted == nil %>
              <span class="vertical-center"><%= "The loan offer to #{Student.find_by_id(loan.recipient_id).full_name} is pending." %></span>
            <% else %>
              <span class="vertical-center">
                <%= "#{number_to_currency(loan.amount.round, precision: 0)} due on #{loan.end_date.strftime('%b %e, %Y')}" %>
              </span>
            <% end %>

            <span style="margin-left: 10px;"><%= link_to 'Forgive Loan', loan, method: :delete, class: 'pure-button', data: { confirm: 'Are you sure?' }, remote: true %></span>
            <button class="pure-button view-modal-btn">View</button>
            <div class="main-modal-container">
              <div class="main-modal">
                <div class="main-modal-header">
                  <i class="fa-close fa fa-2x modal-close"></i>
                </div>
                  <div class="modal-content"><%= render partial: 'show', locals: { loan: loan } %></div>
              </div>
              <div class="outer-modal-click"></div>
            </div>
          </div>

        <% end %>
      <!-- </ul> -->
  <% end %>

  <h2>Accepted Loans</h2>
    <!-- <ul> -->
      <% @loans_received.where(accepted: true).each do |loan| %>
        <div class="student-loan-list">
          <span class="vertical-center"><%= "#{number_to_currency(loan.balance.round, precision: 0)} due on #{loan.end_date.strftime('%b %e, %Y')}" %></span>
          <button class="pure-button view-modal-btn">View</button>

          <div class="main-modal-container">
            <div class="main-modal">
              <div class="main-modal-header">
                <i class="fa-close fa fa-2x modal-close"></i>
              </div>
              <div class="modal-content">
                <%= render partial: 'show', locals: { loan: loan } %>
                <%= link_to "Make Payment", pay_loan_path(loan), class: "pure-button" %>
              </div>
            </div>
            <div class="outer-modal-click"></div>
          </div>
        </div>
      <% end %>
    <!-- </ul> -->

  <h2>Loans Needing Your Confirmation</h2>
    <!-- <ul> -->
      <% @loans_received.where(accepted: nil).each do |loan| %>
        <div class="student-loan-list">
          <span class="vertical-center"><%= "Terms from #{loan.student.full_name}" %></span><button class="pure-button view-modal-btn">View</button>
          <div class="main-modal-container">
            <div class="main-modal">
              <div class="main-modal-header">
                <i class="fa-close fa fa-2x modal-close"></i>
              </div>
              <div class="modal-content"><%= render partial: 'confirmation', locals: { loan: loan } %></div>
            </div>
            <div class="outer-modal-click"></div>
          </div>
        </div>
      <% end %>
    <!-- </ul> -->
</div>

<div class="modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div id="send-money-form" class="modal-content"><%= render 'transactions/send_money' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
