<div class="heading-container">
  <h1>Your Loans</h1>
  <div class="buttons-container">
    <% if @student.can_loan%>
      <button class= "pure-button btn-cc">Offer Loan</button>
    <% end %>
  </div>
</div>
<div id="new-loan-form"><%= render 'new' %></div>
<div class="student-loan-container">
  <% if @student.can_loan%>
    <h2>Given Loans</h2>
      <!-- <ul> -->
        <% @loans_given.each do |loan| %>
          <div class="student-loan-list">
            <% if loan.accepted == false %>
              <%= "#{Student.find_by_id(loan.recipient_id).full_name} has rejected your loan." %>
            <% elsif loan.accepted == nil %>
              <%= "The loan offer to #{Student.find_by_id(loan.recipient_id).full_name} is pending." %>
            <% else %>
              <%= "$#{loan.amount.round} due on #{loan.end_date.strftime('%b %e, %Y')}" %>
            <% end %>
            <button>View</button>
            <%= render partial: 'show', locals: { loan: loan } %>
          </div>
        <% end %>
      <!-- </ul> -->
  <% end %>

  <h2>Accepted Loans</h2>
    <!-- <ul> -->
      <% @loans_received.where(accepted: true).each do |loan| %>
        <div class="student-loan-list">
          <%= "$#{loan.amount.round} due on #{loan.end_date.strftime('%b %e, %Y')}" %>
          <button>View</button>
          <%= link_to "Make Payment", pay_loan_path(loan) %>
          <%= render partial: 'show', locals: { loan: loan } %>
        </div>
      <% end %>
    <!-- </ul> -->

  <h2>Loans Needing Your Confirmation</h2>
    <!-- <ul> -->
      <% @loans_received.where(accepted: nil).each do |loan| %>
        <div class="student-loan-list"><%= link_to "View Terms from #{loan.student.full_name}", confirmation_loan_path(loan) %></div>
      <% end %>
    <!-- </ul> -->
</div>
