<%= simple_form_for @loan do |f| %>

  <p><%= Student.find_by_id(@loan.lender_id).full_name %> is willing to loan you $<%= @loan.amount %> at an interest rate of <%= @loan.interest %>% until <%= @loan.end_date %>.</p>

  <div>I accept the terms of this loan.</div>
  <%= f.input :accepted, as: :radio_buttons , label: false%>

  <%= f.button :submit %>

<% end %>
