<h1>Active Loans</h1>

<table>
  <thead>
    <tr>
      <th>Lender</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Interest</th>
      <th>End date</th>
      <th>Accepted</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= Student.find_by_id(loan.lender_id).full_name %></td>
        <td><%= Student.find_by_id(loan.recipient_id).full_name %></td>
        <td><%= loan.amount %></td>
        <td><%= loan.balance %></td>
        <td><%= loan.interest %>%</td>
        <td><%= loan.end_date.strftime("%b %e, %Y") %></td>
        <td><%= loan.accepted %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
