<div class="heading-container">
  <h1 class="active-loans">Active Loans</h1>
</div>

<table class="student-table pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Lender</th>
      <th>Borrower</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Weekly Interest</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.student.full_name %></td>
        <td><%= Student.find_by_id(loan.recipient_id).full_name %></td>
        <td><%= loan.amount %></td>
        <td><%= loan.balance %></td>
        <td><%= loan.interest %>%</td>
        <td><%= loan.created_at.strftime("%b %e, %Y") %></td>
        <td><%= link_to 'End Loan', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
