<div class="student-send-money-container">

  <%= simple_form_for @transaction, url: students_sent_money_path do |f| %>
    <%= f.error_notification %>
    <div class="field student-send-money-amount">
      <%= f.input :amount, wrapper_html: { class: 'student-send-money-amount-input' } %>
    </div>

      <%= f.hidden_field :reason %>
      <%= f.hidden_field :sender_id %>
      <%= f.hidden_field :recipient_id %>

      <%= f.submit 'Make Payment'%>

  <% end %>

  <p>Your instructor will be sent a record of this transaction.</p>
</div>
