<div class="heading-container">
  <h1>Loaning Permissions</h1>
</div>
<p>Selected students have the ability to offer loans to other students.  The student can set the weekly interest percentage.  The student who receives the offer can choose to accept or reject to loan offer.  Every week the new balance will be calculated based on the interest rate chosen by the students.</p>

<%= simple_form_for @period, html: { class: "pure-form" } do |f| %>
  <%= f.error_notification %>

  <%= f.simple_fields_for :students do |ff| %>
    <div class="loan-permission-inputs">
      <%= ff.input :can_loan, as: :radio_buttons, label: false %>
      <%= ff.object.full_name %>
    </div>
  <% end %>

  <%= f.button :submit, "Submit", class: "pure-button" %>
<% end %>
