

<p>
  <strong>Lender:</strong>
  <%= @loan.student.full_name %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= Student.find_by_id(@loan.recipient_id).full_name %>
</p>

<p>
  <strong>Amount:</strong>
  $<%= @loan.amount.round %>
</p>

<p>
  <strong>Weekly Interest:</strong>
  <%= @loan.interest %>%
</p>

<p>
  <strong>End date:</strong>
  <%= @loan.end_date ? @loan.end_date.strftime('%b %e, %Y') : "Pending" %>
</p>

<p>
  <strong>Balance Left:</strong>
  <%= @loan.balance ? "$#{@loan.balance.round}" : "Pending" %>
</p>
