

<p>
  <strong>Lender:</strong>
  <%= @loan.student.full_name %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= Student.find_by_id(@loan.recipient_id).full_name %>
</p>

<p>
  <strong>Amount:</strong>
  $<%= @loan.amount.round %>
</p>

<p>
  <strong>Weekly Interest:</strong>
  <%= @loan.interest %>%
</p>

<p>
  <strong>End date:</strong>
  <%= @loan.end_date %>
</p>

<p>
  <strong>Balance Left:</strong>
  $<%= @loan.balance.round %>
</p>
