<div class="transaction-form-container">
<%= simple_form_for @transaction, url: new_transaction_path, remote: true do |f| %>
  <%= f.error_notification %>

  <%= f.input :amount %>

  <%= f.input :student_id, label: false, placeholder: "From" do %>
    <%= f.grouped_collection_select :student_id, @periods.order(:name), :students, :name, :id, :full_name %>
  <% end %>

  <%= f.input :recipient_id, label: false, placeholder: "To" do %>
    <%= f.grouped_collection_select :recipient_id, @periods.order(:name), :students, :name, :id, :full_name, { include_blank: true } %>
  <% end %>

  <%= f.input :reason %>

  <%= f.submit 'Transfer', class: "pure-button pure-button-primary btn-cc" %>

<% end %>
</div>
