<div class="heading-container">
  <h1 class="transactions-title">Student Transactions</h1>
  <div class="buttons-container">
    <label>
      Search:
      <input type="text" class="transaction-search"></input>
    </label>
  </div>
</div>


<table class="pure-table pure-table-bordered centered transactions-table">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
      <% recipient = Student.find_by_id(t.recipient_id) %>
      <tr>
        <td><%= t.student.full_name %></td>
        <td><%= recipient ? recipient.full_name : "Not Available" %></td>
        <td class="numeric"><%= number_to_currency(t.amount, precision: 0) %></td>
        <td><%= t.reason %></td>
        <td class="numeric"><%= t.created_at.strftime('%b %e, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
