<div class="heading-container">
  <h1 class="transactions-title">Student Transactions</h1>
  <div class="buttons-container">
    <button class="pure-button btn-cc give-award-btn">Transfer Money</button>
  </div>
</div>


<table class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>Reason</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
      <% recipient = Student.find_by_id(t.recipient_id) %>
      <tr>
        <td><%= t.student.full_name %></td>
        <td><%= recipient ? recipient.full_name : "Not Available" %></td>
        <td class="numeric">$<%= t.amount %></td>
        <td><%= t.reason %></td>
        <td class="numeric"><%= t.created_at.strftime('%b %e, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal give-award-modal">
  <div class="main-modal">
    <div class="main-modal-header">
      <i class="fa-close fa fa-2x modal-close"></i>
    </div>
    <div class="modal-content"><%= render 'transfer' %></div>
  </div>
  <div class="outer-modal-click"></div>
</div>
