<!DOCTYPE html>
<html>
  <head>

    <title>ClassCash</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="page-header">
      <% if user_signed_in? %>
        <!-- <%= link_to "", root_path, class: "fa-home fa fa-2x home-icon" %> -->
        <i class="fa-bars fa fa-2x menu-icon"></i>
          <% if current_user and current_user.type == "Instructor" %>
            <div class="top-nav-container">
              <ul class="top-nav-ul">
                <li class="top-nav-li"><%= link_to 'Roster', students_path %></li>
                <li class="top-nav-li"><%= link_to 'Jobs', jobs_path %></li>
                <li class="top-nav-li"><%= link_to 'Awards', awards_path %></li>
                <li class="top-nav-li"><%= link_to 'Transactions', transactions_path %></li>
                <li class="top-nav-li"><%= link_to 'Loans', loans_path %></li>
                <li class="top-nav-li"><%= link_to 'Rights', rights_path %></li>
                <li class="top-nav-li"><%= link_to 'Store', store_items_path %></li>
                <li class="top-nav-li"><%= link_to 'Rankings', rankings_path %></li>
              </ul>
            </div>
            <% end %>
            <% if current_user and current_user.type == "Student" %>
            <div class="top-nav-container">
              <ul class="top-nav-ul">
                <li class="top-nav-li"><%= link_to 'Store', buy_store_items_path %></li>
                <li class="top-nav-li"><%= link_to 'Your Loans', all_loans_path %></li>
                <li class="top-nav-li"><%= link_to 'Payment History', behavior_student_path(current_user) %></li>
                <li class="top-nav-li"><span class="modal-btn transfer-money-modal-btn">Transfer Money</span>
              </ul>
            </div>
          <% end %>
        <!-- <%= link_to "", destroy_user_session_path, method: :delete, class: "fa-sign-out fa fa-2x signout-icon" %> -->
      <% end %>
    </header>

    <div class="slide-menu-inner">
      <i class="fa-arrow-left fa fa-2x menu-icon"></i>
      <div class="menu-header">
        <%= link_to "", root_path, class: "fa-home fa fa-2x home-icon" %>
        <%= link_to "", destroy_user_session_path, method: :delete, class: "fa-sign-out fa fa-2x signout-icon" %>
      </div>

      <div class="menu-links-container">
        <ul class="list-unstyled menu-ul">
          <li class="menu-heading menu-item">ROSTER</li>
          <li class="display-bonus-modal menu-item">Give Individual Bonus</li>
          <li class="display-class-bonus-modal menu-item">Give Class Bonus</li>
          <a href="/periods/new"><li class="menu-item">New Period</li></a>
          <li class="new-student-modal-btn menu-item">New Student</li>
          <li class="transaction-modal-btn menu-item">Transfer Money</li>
          <li></li>
          <li class="menu-heading menu-item">JOBS</li>
          <li class="hire-modal-btn menu-item">Hire a Student</li>
          <li></li>
          <li class="menu-heading menu-item">AWARDS</li>
          <li class="give-award-btn menu-item">Give Award</li>
          <li></li>
          <li class="menu-heading menu-item">STORE</li>
          <li class="item-modal-btn menu-item">New Item</li>
          <li class="instant-purchase-modal-btn menu-item">Instant Purchase</li>
        </ul>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
