<!DOCTYPE html>
<html>
  <head>

    <title>ClassCash</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="page-header">
      <% if user_signed_in? %>
        <%= link_to "", root_path, class: "fa-home fa fa-2x home-icon" %>
          <% if current_user and current_user.type == "Instructor" %>
            <div class="top-nav-container">
              <ul class="top-nav-ul">
                <li class="top-nav-li"><%= link_to 'Roster', students_path %></li>
                <li class="top-nav-li"><%= link_to 'Jobs', jobs_path %></li>
                <li class="top-nav-li"><%= link_to 'Awards', awards_path %></li>
                <li class="top-nav-li"><%= link_to 'Transactions', transactions_path %></li>
                <li class="top-nav-li"><%= link_to 'Loans', loans_path %></li>
                <li class="top-nav-li"><%= link_to 'Rights', rights_path %></li>
              </ul>
            </div>
            <% end %>
            <% if current_user and current_user.type == "Student" %>
            <div class="top-nav-container">
              <ul class="top-nav-ul">
                <li class="top-nav-li"><%= link_to 'Your Loans', all_loans_path %></li>
                <li class="top-nav-li"><%= link_to 'Payment History', behavior_student_path(current_user) %></li>
                <li class="top-nav-li"><span class="modal-btn transfer-money-modal-btn">Transfer Money</span>
              </ul>
            </div>
          <% end %>
        <%= link_to "", destroy_user_session_path, method: :delete, class: "fa-sign-out fa fa-2x signout-icon" %>
      <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
